{% load static %}
<!DOCTYPE html>
<html lang="es-ve">
<head>
    <link rel="stylesheet" href="{% static 'vendor/mdbootstrap/css/bootstrap.min.css' %}">
    
    <script src="https://kit.fontawesome.com/77839478fe.js" crossorigin="anonymous"></script>
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/mdbootstrap/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extracss %}
    {% endblock extracss %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIGEAGRO{% endblock title %}</title>
</head>
<body class="fixed-sn black-skin">
    <div class="blocker"><div class="sbl-circ-ripple"></div></div>
    <header>
        {% block navbar %}
        {% endblock navbar %}
        {% block header %}
        {% endblock header %}
    </header>
    {% block content %}{% endblock content %}
    {% block modals %}{% endblock modals %}
    {% block footer %}{% endblock footer %}
    <script src="{% static 'vendor/mdbootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/mdbootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/mdbootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/mdbootstrap/js/mdb.min.js' %}"></script>
    {% block extrajs %}
    {% endblock extrajs %}
    {% block extrascript %}
    {% endblock extrascript %}
</body>
</html>