{% extends "base/base.html" %}
{% load static %}
{% load my_forms_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
{% endblock extracss %}

{% block content %}
    <div class="wrapper-login">
        <div class="container">
            <div class="row wrapper-contenido-login">
                <div class="col-7">
                    <div class="login-wrapper-lef">
                        <div class="login-wrapper-title">
                            <p class="title-brand">SIGEAGRO</p>
                        </div>
                        <div class="login-wrapper-description">
                            <p class="subtitle-brand">Inicios de Sesión recientes</p>
                            <p class="description-brand">Haz clic en tu foto para iniciar sesión de manera rápida</p>
                        </div>
                        <div class="login-wrapper-cuentas">
                            <div class="row">
                                <div class="col-3 wrapper-cuenta">
                                    <div class="card-cuenta">
                                        <div class="img-cuenta"></div>
                                        {% comment %} <img src="{% static 'images/avatar.jpg' %}" alt="avatar" class="img-cuenta"> {% endcomment %}
                                        <div class="container-cuenta">
                                            <p class="name-cuenta">Agregar Cuenta</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-login-wrapper">
                        <div class="login-card">
                            <form action="" class="login-card-content">
                                <div class="login-form-group mb-2">
                                    <input type="text" class="login-form-control" id="username" name="username" placeholder="Usuario">
                                </div>
                                <div class="login-form-group mb-2">
                                    <input type="password" class="login-form-control" id="password" name="password" placeholder="Contraseña">
                                </div>
                                <div class="login-form-group mb-2">
                                    <button class="btn btn-block btn-login">Iniciar Sesión</button>            
                                </div>
                                <hr>
                                <a href="{% url 'password_reset' %}" class="login-link-recovery">¿Olvidaste tu Cuenta?</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
{% endblock content %}